<mat-dialog-content>
    <form class="form" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <p class="title" *ngIf="editMode">Edit Task</p>
        <p class="title" *ngIf="!editMode">Add Task</p>
        <p class="message" *ngIf="editMode">Edit task for your todo app. </p>
        <p class="message" *ngIf="!editMode">Add task for your todo app. </p>
        <label>
            <input class="input" type="title" placeholder="" formControlName="title">
            <span>Title </span>

        </label>
        <span style="margin-top: -5%; color: red; font-size: small;"
            *ngIf="!taskForm.get('title').valid &&taskForm.get('title').touched"> *title cannot be empty
        </span>
        <label>
            <input class="input" type="Description" placeholder="" formControlName="description">
            <span>Description</span>
        </label>
        <span style="margin-top: -5%; color: red; font-size: small;"
            *ngIf="!taskForm.get('description').valid &&taskForm.get('description').touched"> *description cannot be
            empty
        </span>
        <label>
            <mat-form-field>
                <mat-select placeholder="Category" formControlName="category">
                    <mat-option *ngFor="let category of categories" [value]="category.value">
                        {{ category.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </label>
        <span style="margin-top: -5%; color: red; font-size: small;"
            *ngIf="!taskForm.get('category').valid &&taskForm.get('category').touched"> *please select a category
        </span>
     
        <span><label><input type="datetime-local" formControlName="duedatetime"></label></span> 
        <span style="margin-top: -5%; color: red; font-size: small;"
        *ngIf="!taskForm.get('duedatetime').valid &&taskForm.get('duedatetime').touched"> *due date must be later than current time
    </span>
        <mat-dialog-actions align="end">
            <button mat-button (click)="onNoClick()" type="button" cdkFocusInitial>Cancel</button>
            <button mat-button [mat-dialog-close]="true" type="submit" [disabled]="!taskForm.valid">Ok</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>